<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="templates/index.css" rel="stylesheet" >


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <style>
        
        th {background: rgb(4, 65, 94);color: honeydew;}
        table,th,td{padding: 8px;border: 1px solid grey;border-collapse: collapse;}
        
    </style>
     <link rel="stylesheet" src="/static/index.css">
</head>
<body  style="background-color:lightblue">
  
  <figure class="text-center"><h2 class="display-1" style="font-family:georgia;">Flash Card App<br></h2></figure>
    
   <p align="right"><a class="btn btn-info" href="/logout" role="button" style="background-color:red;">Logout</a>
   </p>
   <h2>Your Decks</h2>
    <figure class="text-center">
    <table class="table table-responsive">
        <tr>
            <th style = "color:red">Deck Name</th>
            <th style = "color:red">Action</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>
              <a class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="click to view deck" href="/review/{{row[0]}}" style="background-color:#79018C;">{{row[0]}}</a>
            <td>
                <a class="btn btn-danger" href="/addcard/{{row[0]}}">Delete Deck</a>

                
                <a class="btn btn-warning" href="/updatedeck/{{row[0]}}">Update Name</a>

                <a class="btn btn-success" href="/deletedeck/{{row[0]}}" >Add a Card</a>
                
            </td>
        </tr>
        {% endfor %}
        
    </table>
    <hr>
    </figure>
    
    <figure class="text-center"><a class="btn btn-success" href="/createdeck" role="button">Add Deck</a><br><br>

    </figure>
    
</body>
</html>